@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  /* primary-colors */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--main-font);
  color: #fff;
  background: url(/images/bg-desktop.svg) no-repeat;
  background-color: var(--violet);
  background-size: cover;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 4rem 4rem 0 4rem;
  position: relative;
}

.logo-section .logo-img {
  display: block;
  max-width: 20rem;
  margin-bottom: 5rem;
}

.container .hero {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 5rem;
  justify-items: center;
}

.container .hero-img {
  display: block;
  max-width: 100%;
}

.container .hero-info {
  max-width: 46rem;
  margin-top: 4rem;
}

.hero .title {
  font-weight: 600;
  font-family: var(--secondary-font);
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.hero .btn {
  background-color: #fff;
  border: none;
  color: var(--violet);
  font-size: 1.7rem;
  padding: 1.5rem 6rem;
  border-radius: 3rem;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero .btn:hover {
  color: #fff;
  background: var(--soft-magenta);
  transition: all 0.5s;
  cursor: pointer;
}

.container .social-media {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-top: 5rem;
}

.social-media .icons {
  width: 2rem;
  height: 2rem;
  border: 0.1rem #fff solid;
  border-radius: 50%;
  padding: 0.9rem;
}

.social-media .icons:hover {
  color: hsl(300, 65%, 51%);
  border: 0.1rem hsl(300, 65%, 51%) solid;
  transition: all 0.5s;
  cursor: pointer;
}

/**** MODAL-FORM *****/
.container .register-modal {
  background-color: var(--violet);
  padding: 4rem;
  border-radius: 1rem;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  min-width: 25%;
}

.register-modal .form-img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.register-modal .form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.register-modal label {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 0.5rem;
  font-family: var(--secondary-font);
  font-weight: 600;
}

.register-modal .user-info {
  max-width: 100%;
  width: 100%;
  height: 3rem;
  color: #343a40;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.register-modal .btn-form {
  background-color: #fff;
  border: none;
  color: var(--violet);
  font-size: 1.7rem;
  padding: 1rem 4rem;
  border-radius: 3rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register-modal .btn-form:hover {
  color: #fff;
  background: var(--soft-magenta);
  transition: all 0.5s;
  cursor: pointer;
}

.register-modal .btn-section {
  display: flex;
  justify-content: center;
}

/**** MODAL-FORM *****/

/**** OVERLAY *****/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
}
/**** OVERLAY *****/

/**** HIDING MODAL-OVERLAY *****/

.hidden {
  display: none;
}

/**** HIDING MODAL-OVERLAY *****/

/* footer */
footer {
  padding: 0 4rem 4rem 4rem;
}

.attribution {
  font-size: 1.3rem;
  text-align: center;
}
.attribution a {
  color: #fff;
}

/* media queries */
@media (max-width: 60rem) {
  .container .hero {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .container .hero-img {
    width: 50rem;
  }

  .container .hero-info {
    text-align: center;
  }
  .container .social-media {
    justify-content: center;
    margin: 10rem 0 3rem 0;
  }

  .hero .btn {
    padding: 1.3rem 8rem;
  }
}
